/* General page styling */
body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Gap between top and bottom sections */
    height: 95vh; /* Fixed height for the viewport */
}

/* Top section layout */
.top {
    display: flex;
    gap: 20px; /* Gap between top-left and top-right sections */
    height: 60%; /* Fixed height for the top section */
}

.top-left {
    width: 70%; /* Fixed width for top-left */
    height: 100%; /* Full height of the .top container */
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.top-right {
    width: 30%; /* Fixed width for top-right */
    height: 100%; /* Full height of the .top container */
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; /* Scrollable content if it overflows */
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    background-color: #eee;
}

/* Bottom section layout */
.bottom {
    display: flex;
    gap: 20px; /* Gap between the three parts */
    height: 35%; /* Fixed height for the bottom section */
}

.bottom-part {
    flex: 1; /* Equal width for all parts */
    height: 100%; /* Full height of the .bottom container */
    background-color: #dfe6e9;
    border: 1px solid #ccc;
}

/* tooltip */
.tooltip {
    position: absolute;
    padding: 7px;
    font-size: 0.9em;
    pointer-events: none;
    background: #FFF5E4;
    /* background: #fff; */
    border: 1px solid #ccc;
    border-radius: 4px;

    /* add shade */
    -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}


.tooltip p {
    margin: 0;
    padding: 0;
}

.tooltip table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}